In [2]:
import pandas as pd

In [3]:
pd.options.display.float_format = '{:,.2f}'.format
    
def format_float(value):
    return f'{value:,.2f}'
pd.options.display.float_format = format_float

In [34]:
df = pd.read_csv('Production.csv')
#Meses a días
days=30.28
#Metros cubicos a barriles (aceite)
bbls = 6.29
#Metros cubicos a pies cubicos (gas)
ft3 = 35.3147
#Millones
MM=1000000
df

,CAMPO,POZO,FECHA,DIAS,LAT,LON,ACEITE,GAS,AGUA
0,SITIO GRANDE,SITIO_GDE_1,30/06/1972,30,17.80,-93.15,17.00,"5,012.10",0.00
1,SITIO GRANDE,SITIO_GDE_1,31/07/1972,31,17.80,-93.15,853.00,"288,152.00",0.00
2,SITIO GRANDE,SITIO_GDE_1,31/08/1972,31,17.80,-93.15,"1,822.90","732,499.50",0.00
3,SITIO GRANDE,SITIO_GDE_1,30/09/1972,30,17.80,-93.15,"6,312.00","2,114,332.00",14.90
4,SITIO GRANDE,SITIO_GDE_1,31/10/1972,31,17.80,-93.15,"4,994.00","1,939,730.50",11.00
...,...,...,...,...,...,...,...,...,...
6337,SITIO GRANDE,SITIO_GDE_94,31/01/1975,31,17.78,-93.14,"8,985.30","1,818,223.00",402.40
6338,SITIO GRANDE,SITIO_GDE_94,28/02/1975,28,17.78,-93.14,"9,424.00","1,458,599.40",39.00
6339,SITIO GRANDE,SITIO_GDE_94,31/03/1975,31,17.78,-93.14,"6,853.80","1,437,928.10","1,279.30"
6340,SITIO GRANDE,SITIO_GDE_94,30/04/1975,30,17.78,-93.14,69.00,"20,671.30",0.00
6341,SITIO GRANDE,SITIO_GDE_94,31/05/1975,31,17.78,-93.14,115.90,"34,829.70",0.00

In [35]:
#coords = df[['POZO', 'LAT', 'LON']]
#coords = coords.dropna()
#coords.to_csv('Coords.csv')

In [42]:
prod = df[['POZO', 'FECHA', 'DIAS', 'ACEITE', 'GAS', 'AGUA']]
prod['aceite_bpm'] = prod['ACEITE']*bbls
prod['aceite_bpd'] = prod['aceite_bpm']/prod['DIAS']
prod['agua_bpm'] = prod['AGUA']*bbls
prod['agua_bpd'] = prod['agua_bpm']/prod['DIAS']
prod['gas_cfpm'] = prod['GAS']*ft3
prod['gas_cfpd'] = prod['gas_cfpm']/prod['DIAS']
prod['gas_mmcfpm'] = prod['gas_cfpm']*MM
prod['gas_mmcfpd'] = prod['gas_cfpd']*MM
prod['FECHA'] = pd.to_datetime(prod['FECHA'])
prod['POZO'] = prod['POZO'].str.replace('_',' ')
prod['POZO'] = prod['POZO'].str.replace('GDE','GRANDE')

<ipython-input-42-4504f33cdc93>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod['aceite_bpm'] = prod['ACEITE']*bbls
<ipython-input-42-4504f33cdc93>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod['aceite_bpd'] = prod['aceite_bpm']/prod['DIAS']

In [72]:
#SOURCE - http://cdn.ihs.com/fekete/help/FieldNotes/c-te-calcexamples.htm
ratios = df[['POZO', 'FECHA', 'ACEITE', 'GAS', 'AGUA']]
ratios['WOR'] = ratios['AGUA']/ratios['ACEITE']
ratios['GOR'] = ratios['GAS']/ratios['ACEITE']
ratios['WC'] = ratios['AGUA']/(ratios['AGUA']+ratios['ACEITE'])
ratios = ratios.loc[:, ~ratios.columns.str.contains('^Unnamed')]
ratios.columns = [x.lower() for x in ratios.columns]
ratios['pozo'] = ratios['pozo'].str.replace('_',' ')
ratios['pozo'] = ratios['pozo'].str.replace('GDE','GRANDE')
ratios['fecha'] = pd.to_datetime(ratios['fecha'])
#ratios.to_csv('Ratios.csv', index=False)
ratios

<ipython-input-72-fbddb6147984>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratios['WOR'] = ratios['AGUA']/ratios['ACEITE']
<ipython-input-72-fbddb6147984>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratios['GOR'] = ratios['GAS']/ratios['ACEITE']
<ipython-input-72-fbddb6147984>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratios['WC'] = ratios['AGUA']/(ratios['AGUA']+ratios['ACEITE'])

,pozo,fecha,aceite,gas,agua,wor,gor,wc
0,SITIO GRANDE 1,1972-06-30,17.00,"5,012.10",0.00,0.00,294.83,0.00
1,SITIO GRANDE 1,1972-07-31,853.00,"288,152.00",0.00,0.00,337.81,0.00
2,SITIO GRANDE 1,1972-08-31,"1,822.90","732,499.50",0.00,0.00,401.83,0.00
3,SITIO GRANDE 1,1972-09-30,"6,312.00","2,114,332.00",14.90,0.00,334.97,0.00
4,SITIO GRANDE 1,1972-10-31,"4,994.00","1,939,730.50",11.00,0.00,388.41,0.00
...,...,...,...,...,...,...,...,...
6337,SITIO GRANDE 94,1975-01-31,"8,985.30","1,818,223.00",402.40,0.04,202.36,0.04
6338,SITIO GRANDE 94,1975-02-28,"9,424.00","1,458,599.40",39.00,0.00,154.77,0.00
6339,SITIO GRANDE 94,1975-03-31,"6,853.80","1,437,928.10","1,279.30",0.19,209.80,0.16
6340,SITIO GRANDE 94,1975-04-30,69.00,"20,671.30",0.00,0.00,299.58,0.00
6341,SITIO GRANDE 94,1975-05-31,115.90,"34,829.70",0.00,0.00,300.52,0.00

In [54]:
prod

,pozo,fecha,aceite_bpd,aceite_bpm,agua_bpd,agua_bpm,gas_mmcfpm,gas_mmcfpd
0,SITIO GRANDE 1,1972-06-30,3.56,106.93,0.00,0.00,"177,000,807,870.00","5,900,026,929.00"
1,SITIO GRANDE 1,1972-07-31,173.08,"5,365.37",0.00,0.00,"10,176,001,434,400.00","328,258,110,787.10"
2,SITIO GRANDE 1,1972-08-31,369.87,"11,466.04",0.00,0.00,"25,868,000,092,650.00","834,451,615,891.94"
3,SITIO GRANDE 1,1972-09-30,"1,323.42","39,702.48",3.12,93.72,"74,667,000,280,400.02","2,488,900,009,346.67"
4,SITIO GRANDE 1,1972-10-31,"1,013.30","31,412.26",2.23,69.19,"68,501,000,688,350.01","2,209,709,699,624.19"
...,...,...,...,...,...,...,...,...
6337,SITIO GRANDE 94,1975-01-31,"1,823.15","56,517.54",81.65,"2,531.10","64,209,999,778,100.01","2,071,290,315,422.58"
6338,SITIO GRANDE 94,1975-02-28,"2,117.03","59,276.96",8.76,245.31,"51,510,000,231,180.00","1,839,642,865,399.29"
6339,SITIO GRANDE 94,1975-03-31,"1,390.66","43,110.40",259.57,"8,046.80","50,779,999,473,070.00","1,638,064,499,131.29"
6340,SITIO GRANDE 94,1975-04-30,14.47,434.01,0.00,0.00,"730,000,758,110.00","24,333,358,603.67"
6341,SITIO GRANDE 94,1975-05-31,23.52,729.01,0.00,0.00,"1,230,000,406,590.00","39,677,432,470.65"

In [63]:
df2 = pd.read_csv('Pressure.csv')
df2.columns = [x.lower() for x in df2.columns]
df2['fecha'] = pd.to_datetime(df2['fecha'])
df2['terminacion'] = df2['terminacion'].str.replace('_',' ')
df2['terminacion'] = df2['terminacion'].str.replace('GDE','GRANDE')
df2 = df2.rename(columns={"terminacion": "pozo"})
df2 = df2.fillna(0)
df2

,pozo,fecha,campo,tipo de registro,cerrado(yac),cerrado(pozo),fluyendo(yac),fluyendo(pozo)
0,SITIO GRANDE 1,1972-03-14,SITIO GRANDE,CERRADO,449.60,449.60,0.00,0.00
1,SITIO GRANDE 1,1972-03-18,SITIO GRANDE,CERRADO,449.00,449.00,0.00,0.00
2,SITIO GRANDE 1,1972-02-05,SITIO GRANDE,CERRADO,455.70,456.10,0.00,0.00
3,SITIO GRANDE 1,1972-05-26,SITIO GRANDE,FLUYENTE,0.00,0.00,446.72,458.20
4,SITIO GRANDE 1,1972-05-28,SITIO GRANDE,CERRADO,446.72,447.20,0.00,0.00
...,...,...,...,...,...,...,...,...
3089,SITIO GRANDE 1021,2007-05-20,SITIO GRANDE,CERRADO,317.32,317.55,0.00,0.00
3090,SITIO GRANDE 1021,2008-01-23,SITIO GRANDE,CERRADO,326.41,326.56,0.00,0.00
3091,SITIO GRANDE 1021,2008-10-07,SITIO GRANDE,CERRADO,325.38,325.38,0.00,0.00
3092,SITIO GRANDE 1021,2009-04-18,SITIO GRANDE,CERRADO,326.57,326.75,0.00,0.00
3093,SITIO GRANDE 1021,2011-03-26,SITIO GRANDE,CERRADO,331.82,331.82,0.00,0.00

In [64]:
press_plano_referencia = df2[['pozo', 'fecha', 'tipo de registro', 'cerrado(yac)', 'fluyendo(yac)']]
press_plano_referencia

,pozo,fecha,tipo de registro,cerrado(yac),fluyendo(yac)
0,SITIO GRANDE 1,1972-03-14,CERRADO,449.60,0.00
1,SITIO GRANDE 1,1972-03-18,CERRADO,449.00,0.00
2,SITIO GRANDE 1,1972-02-05,CERRADO,455.70,0.00
3,SITIO GRANDE 1,1972-05-26,FLUYENTE,0.00,446.72
4,SITIO GRANDE 1,1972-05-28,CERRADO,446.72,0.00
...,...,...,...,...,...
3089,SITIO GRANDE 1021,2007-05-20,CERRADO,317.32,0.00
3090,SITIO GRANDE 1021,2008-01-23,CERRADO,326.41,0.00
3091,SITIO GRANDE 1021,2008-10-07,CERRADO,325.38,0.00
3092,SITIO GRANDE 1021,2009-04-18,CERRADO,326.57,0.00
3093,SITIO GRANDE 1021,2011-03-26,CERRADO,331.82,0.00

In [65]:
press_nmd = df2[['pozo', 'fecha', 'tipo de registro', 'cerrado(pozo)', 'fluyendo(pozo)']]
press_nmd

,pozo,fecha,tipo de registro,cerrado(pozo),fluyendo(pozo)
0,SITIO GRANDE 1,1972-03-14,CERRADO,449.60,0.00
1,SITIO GRANDE 1,1972-03-18,CERRADO,449.00,0.00
2,SITIO GRANDE 1,1972-02-05,CERRADO,456.10,0.00
3,SITIO GRANDE 1,1972-05-26,FLUYENTE,0.00,458.20
4,SITIO GRANDE 1,1972-05-28,CERRADO,447.20,0.00
...,...,...,...,...,...
3089,SITIO GRANDE 1021,2007-05-20,CERRADO,317.55,0.00
3090,SITIO GRANDE 1021,2008-01-23,CERRADO,326.56,0.00
3091,SITIO GRANDE 1021,2008-10-07,CERRADO,325.38,0.00
3092,SITIO GRANDE 1021,2009-04-18,CERRADO,326.75,0.00
3093,SITIO GRANDE 1021,2011-03-26,CERRADO,331.82,0.00

In [24]:
df3 = pd.read_csv("RPFC-Plano de referencia.csv")
df3.columns = [x.lower() for x in df3.columns]
df3 = df3.rename(columns={"terminacion": "pozo"})
df3['fecha'] = pd.to_datetime(df3['fecha'])
df3['pozo'] = df3['pozo'].str.replace('SG-','SITIO GRANDE ')
df3['tipo de registro'] = df3['tipo de registro'].str.replace('C','CERRADO')
df3['estrangulador (pg)'] = df3['estrangulador (pg)'].fillna('N/A')
df3 = df3.fillna(0)
press_pref = df3.copy()
press_pref.to_csv('RPFC-Plano de referencia.csv', index=False)

In [25]:
press_pref

,pozo,fecha,tipo de registro,estrangulador (pg),nivel medio de los disparos (mbmr),gradiente pozo (kg/cm2/m),gradiente yacimiento (kg/cm2/m),presion superficie (kg/cm2),de fondo cerrado gradiente de yacimiento (kg/cm2),de fondo cerrado gradiente de pozo (kg/cm2)
0,SITIO GRANDE 1,1972-03-14,CERRADO,N/A,"4,125.00",0.10,0.06,0.82,376.47,446.43
1,SITIO GRANDE 1,1972-03-18,CERRADO,N/A,"4,125.00",0.10,0.06,0.00,372.13,445.83
2,SITIO GRANDE 1,1972-02-05,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,366.00,450.68
3,SITIO GRANDE 1,1972-05-28,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,361.40,441.78
4,SITIO GRANDE 1,1972-06-13,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,348.40,439.88
...,...,...,...,...,...,...,...,...,...,...
1817,SITIO GRANDE 1021,2007-05-20,CERRADO,N/A,"3,800.00",0.00,0.07,0.00,0.00,345.84
1818,SITIO GRANDE 1021,2008-01-23,CERRADO,"5/8""","3,800.00",0.00,0.07,0.00,0.00,351.75
1819,SITIO GRANDE 1021,2008-10-07,CERRADO,"5/8""","3,793.00",0.00,0.07,0.00,0.00,350.71
1820,SITIO GRANDE 1021,2009-04-18,CERRADO,"5/8""","3,800.00",0.00,0.07,0.00,0.00,353.30
1821,SITIO GRANDE 1021,2011-03-26,CERRADO,"5/8""","3,793.00",0.00,0.07,0.00,0.00,359.08

In [26]:
df4 = pd.read_csv("RPFC-NMD.csv")
df4.columns = [x.lower() for x in df4.columns]
df4 = df4.rename(columns={"terminacion": "pozo"})
df4['fecha'] = pd.to_datetime(df4['fecha'])
df4['pozo'] = df4['pozo'].str.replace('SG-','SITIO GRANDE ')
df4['tipo de registro'] = df4['tipo de registro'].str.replace('C','CERRADO')
df4['estrangulador (pg)'] = df4['estrangulador (pg)'].fillna('N/A')
df4 = df4.fillna(0)
press_NMD = df4.copy()
press_NMD.to_csv('RPFC-NMD.csv', index=False)

In [27]:
press_NMD

,pozo,fecha,tipo de registro,estrangulador (pg),nivel medio de los disparos (mbmr),gradiente pozo (kg/cm2/m),gradiente yacimiento (kg/cm2/m),presion superficie (kg/cm2),de fondo cerrado gradiente de yacimiento (kg/cm2),de fondo cerrado gradiente de pozo (kg/cm2)
0,SITIO GRANDE 1,1972-03-14,CERRADO,N/A,"4,125.00",0.10,0.06,0.82,449.6,449.60
1,SITIO GRANDE 1,1972-03-18,CERRADO,N/A,"4,125.00",0.10,0.06,0.00,449,449.00
2,SITIO GRANDE 1,1972-02-05,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,455.7,456.10
3,SITIO GRANDE 1,1972-05-28,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,446.72,447.20
4,SITIO GRANDE 1,1972-06-13,CERRADO,N/A,"4,134.00",0.10,0.06,0.00,442.92,442.92
...,...,...,...,...,...,...,...,...,...,...
1817,SITIO GRANDE 1021,2007-05-20,CERRADO,N/A,"3,800.00",0.00,0.07,0.00,317.32,317.55
1818,SITIO GRANDE 1021,2008-01-23,CERRADO,"5/8""","3,800.00",0.00,0.07,0.00,326.41,326.56
1819,SITIO GRANDE 1021,2008-10-07,CERRADO,"5/8""","3,793.00",0.00,0.07,0.00,325.38,325.38
1820,SITIO GRANDE 1021,2009-04-18,CERRADO,"5/8""","3,800.00",0.00,0.07,0.00,326.57,326.75
1821,SITIO GRANDE 1021,2011-03-26,CERRADO,"5/8""","3,793.00",0.00,0.07,0.00,331.82,331.82